* {
  /* font-family: "Russo one";*/
  font-family: "DotGothic16", sans-serif;
}

body {
  text-align: center;
  margin-top: 5vw;
  background-image: url(../images/bg.jpeg);

  /* font-family: "Russo One", sans-serif; */
  font-family: "DotGothic16", sans-serif;
}

canvas {
  border: solid 1px rgba(152, 55, 55, 0.351);
  background-color: rgba(0, 0, 0, 0.831);
}

/* #start-button {
  height: 100px;
  width: 200px;
  font-size: 20px;
  background-color: rgb(126, 74, 74);
} */
